@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The NuGet Package update checker will take a packages.config file and check all files in it against the NuGet public API to see if there are any released versions of the files which
    are newer than the version you currently have.</p>

<p>The code underlying this project is available on GitHub: <a href="https://github.com/lbearl/NuGetVersionChecker">NuGetVersionChecker</a>.</p>
