@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NuGet Version Checker</h1>
    <p class="lead">A quick way to see how far behind your NuGet dependencies are from the currently released version.</p>
    <p class="text-center">@Html.ActionLink("Get Started", "Index", "Version", null, new {@class="btn btn-primary btn-lg"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Code on GitHub</h2>
        <p>
            All of the code underlying this little service is available on GitHub. The code is rough right now (less than 4 hours have been invested so far).
        </p>
        <p><a class="btn btn-default" href="https://github.com/lbearl/NuGetVersionChecker">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p>If you have questions/comments/etc. Please reach out to me.</p>
        <br/>
        <p><a class="btn btn-default" href="https://twitter.com/lukebearl">Reach Out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Features</h2>
        <p>In the future I plan to support directly uploading packages.config files, and will also look at the new JSON based files.</p>
        <p><a class="btn btn-default" href="https://github.com/lbearl/NuGetVersionChecker/issues">File an Issue/Request &raquo;</a></p>
    </div>
</div>